// Styling for the navbar
#mainNav {
  background-color: $gray-900;

  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;

    @include heading-font;
  }
  .navbar-brand {
    color: $primary;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }
  .navbar-nav {
    .dropdown-menu  {
      .nav-item {
        .nav-link {
          font-size: .90em;
          font-weight: 600;
          padding: 0.75em 0;
          letter-spacing: 0px;
          color: $title-grey;
          @include menu-font;
          &.active,
          &:hover {
            color: $primary;
          }
        }
      
    }

    }
    .nav-item {
      .nav-link {
        font-size: 1em;
        font-weight: 600;
        padding: 0.75em 0;
        letter-spacing: 0px;
        color: white;
        @include menu-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }
      &.btn-quote-top {
        background-color: $color1 !important;
        border-radius: 5px;
        
        .nav-link {
          color: $white !important;
          &.active,
          &:hover {
            color: $white !important;
          }
        }
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: all .3s ease-out;
    border: none;
    background-color: transparent;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;

        }

      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
      .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
          color: $title-grey;
        }

      }
    }
    }
  }
}