$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #772953 !default;
$pink:    #e83e8c !default;
$red:     #DF382C !default;
$orange:  #E95420 !default;
$yellow:  #EFB73E !default;
$green:   #38B44A !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;



$menu-bg :rgba(48, 76, 41, .90) !important;
$title-dark :#4a606b !default;
$title-grey : #607D8B;
//Button Colors

$color1: rgba(252, 10, 50, 1);
$color2: rgba(108, 235, 220, 1);
$color3: rgba(27, 138, 17, 1);
$color4: rgba(10, 38, 252, 1);

$primary:       $color1 !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $purple !default;


$buttonColors: (
    primary :  $color1, 
    info :  #3498DB, 
    success :  $success, 
    warning :  #F1C40F, 
    danger :  #E74C3C, 
    inverse :  #34495E, 
    primaryColor :  $color1, 
    secondaryColor :  $color2
);